﻿@model Lets_Get_Cooking.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Recipe Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rTitle)
        </dd>
        <dt class="col-sm-2">
            Est. Cook Time(minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estCookTime)
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        @if(Model.Ingredients.Count > 0)
        {
            @foreach(var ing in Model.Ingredients)
            {
                @Html.HiddenFor(x => ing.rID)
                <dd class="col-sm-10">
                    @Html.DisplayFor(x =>ing.iName) - @Html.DisplayFor(x => ing.iAmount)
                </dd>
            }
        }
        else
        {
            <dd class="col-sm-10">Nothing to display</dd>
        }
        <dt class="col-sm-2">
            Directions
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rDirections)
        </dd>
    </dl>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.rID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
