﻿@model Lets_Get_Cooking.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Recipe</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rID" />
            <div class="form-group">
                <label asp-for="rTitle" class="control-label">Recipe Name</label>
                <input asp-for="rTitle" class="form-control" />
                <span asp-validation-for="rTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estCookTime" class="control-label">Est. Cook Time(minutes)</label>
                <input asp-for="estCookTime" class="form-control" />
                <span asp-validation-for="estCookTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Ingredients != null && Model.Ingredients.Count > 0)
                {
                    for (var i = 0; i > Model.Ingredients.Count; i++)
                    {
                        <label asp-for="Ingredients.ElementAt(i).iName" class="control-label">Est. Cook Time(minutes)</label>
                        <input asp-for="Ingredients.ElementAt(i).iName" class="form-control" />
                        <span asp-validation-for="Ingredients.ElementAt(i).iName" class="text-danger"></span>

                        <label asp-for="Ingredients.ElementAt(i).iAmount" class="control-label">Est. Cook Time(minutes)</label>
                        <input asp-for="Ingredients.ElementAt(i).iAmount" class="form-control" />
                        <span asp-validation-for="Ingredients.ElementAt(i).iAmount" class="text-danger"></span>
                    }
                }
                else if(Model.Ingredients.Count == 0)
                {
                    <label class="form-control">No ingredients</label>
                }
                else
                {
                    <label class="form-control">Null ingredients</label>
                }

            </div>
            <div class="form-group">
                <label asp-for="rDirections" class="control-label">Directions</label>
                <input asp-for="rDirections" class="form-control" />
                <span asp-validation-for="rDirections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
