﻿@model IEnumerable<Lets_Get_Cooking.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>My Recipes</h1>

<p>
    <a asp-action="Create">Add New Recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Recipe Name
            </th>
            <th>
                Est. Cook Time(minutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estCookTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
